<div class="header">
  <p>Eventos:</p>
  <button (click)="openModal()">Criar Evento</button>
</div>

<ng-container *ngIf="events.length">
  <div class="eventos-container">
    <div *ngFor="let event of events">
      <p>Nome: {{ event.eventName }}</p>
      <p>Total de senhas: {{ event.qtdSenhas }}</p>
      <p>Valor senha uni.: {{ currencyMask(event.valueSenha) }}</p>
      <p>Valor boi TV: {{ currencyMask(event.boiTv) }}</p>
      <button class="gerir-evento-button" (click)="enterProject(event.id)">
        Gerenciar Evento
      </button>
    </div>
  </div>
</ng-container>

<div class="modal" *ngIf="isOpen">
  <form class="modal-content" #f="ngForm" (submit)="submitForm(f)">
    <h2>Modal</h2>
    <div class="form-group">
      <label for="eventName">Nome do Evento:</label>
      <input type="text" id="eventName" name="eventName" ngModel />
    </div>

    <div class="form-group">
      <label for="eventName">Quantidade inicial de senhas:</label>
      <input type="number" id="qtdSenhas" name="qtdSenhas" ngModel />
    </div>

    <div class="form-group">
      <label for="eventName">Valor de uma senha:</label>
      <input type="number" id="valueSenha" name="valueSenha" ngModel />
    </div>

    <div class="radio-group">
      <label for="eventName">Boi Tv:</label>
      <input type="number" id="boiTv" name="boiTv" ngModel />
    </div>

    <button class="close-button" (click)="closeModal()">Fechar</button>
    <button>Criar</button>
  </form>
</div>
