<section>
    <div class="container-pass">
        <div *ngFor="let item of pass | keyvalue" class="item-pass">
            <div>{{ item.value.nome }}</div>

            <div *ngIf="item.value.disponivel === false">
                <p>{{ item.value.infos.vaqueiro }}</p>
                <p>{{ item.value.infos.cavalo }}</p>
                <p>Outro campo qualquer</p>
            </div>

            <div *ngIf="item.value.disponivel === true">
                <p>-</p>
                <p>-</p>
                <p>-</p>
            </div>

            <div>
                <button>Ver mais</button>
            </div>
        </div>

    </div>
</section>