#nav {
    background-color: red;
    display: flex;
    justify-content: space-between;
    padding: 0 1.5em;
    margin-bottom: 1em;
    align-items: center;
}

.container-pass {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;

    .item-pass {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #ddd;
        padding: 10px;

    }
}

#footer {
    background-color: aqua;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: .5em 1em;
    margin-top: .5em;
    
    .footer-checkbox {
        display: flex;
        align-items: center;
    }
}