#container {
  display: flex;
  justify-content: space-between;
  gap: 50px;
}

form {
    width: 450px;
    display: flex;
    flex-direction: column;
    gap: 16px;
  
    label {
      display: flex;
      flex-direction: column;
      gap: 8px;
  
      input[type="text"],
      input[type="number"],
      input[type="radio"] {
        margin-top: 4px;
      }
    }
  
    input[type="radio"] {
      margin-right: 8px;
    }
  
    input[type="checkbox"] {
      margin-right: 8px;
    }
  
    input[type="number"] {
      display: none;
    }
  
    input[type="checkbox"]:checked ~ input[type="number"] {
      display: inline-block;
    }
  
    button[type="submit"] {
      margin-top: 16px;
    }
}

.button-container {
  float: right;
  padding: 1em;
  margin-right: 50px;
  width: 300px;
  height: 300px;
  max-height: 400px;
  overflow-y: scroll;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 10px;
  border: 1px solid #000;
}

.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
  
  &-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    width: 700px;
    max-width: 700px;
    max-height: 80%;
    overflow-y: auto;
  }

  .form-group {
      display: flex;
      flex-direction: column;
      margin-bottom: 20px;

      label {
          margin-bottom: 10px;
      }
  }

  .radio-group {
      display: flex;
      align-items: center;
      
      input[type="radio"] {
        margin-right: 10px;
      }
      
      label {
        margin-right: 20px;
      }
    }
  
  .close-button {
      margin: auto;
  }
}