<main id="container">
    <form #f="ngForm" (ngSubmit)="openModal(f)">
        <label>
          Puxador
          <input type="text" name="puxador" required ngModel>
        </label>
        <label>
          Cavalo
          <input type="text" name="cavalo" required ngModel>
        </label>
        <label>
          Esteira
          <input type="text" name="esteira" required ngModel>
        </label>
        <label>
          Cavalo Esteira
          <input type="text" name="cavalo_esteira" required ngModel>
        </label>
        <label>
          Representação
          <input type="text" name="representacao" required ngModel>
        </label>
        <label>
          Município
          <input type="text" name="municipio" required ngModel>
        </label>
        <label>
          Estado
          <input type="text" name="estado" required ngModel>
        </label>
        <div class="radio-group">
          <label>
            Bonificação
            <div>
                <input type="radio" name="bonificacao" value="sim" required ngModel>
                Sim     
            </div>
          </label>
          <label>
            <div>
                <input type="radio" name="bonificacao" value="nao" required ngModel>
                Não
            </div>
          </label>
        </div>
        <p>Fichas Selecionadas: <span *ngIf="selectedPasswords.length === 0">Nenhuma Ficha Selecionada</span></p>
        <ul>
            <li *ngFor="let item of selectedPasswords">
              {{item}} 
              <br>
              <div class="radio-group">
                <label>
                  Boi TV
                  <div>
                      <input type="radio" name="boi_tv_{{item}}" value="sim" required ngModel>
                      Sim
                  </div>
                </label>
                <label>
                  <div>
                      <input type="radio" name="boi_tv_{{item}}" value="nao" required ngModel>
                      Não
                  </div>
                </label>
              </div> 
              <br>
              <label>
                Forma de pagamento
                <div>
                  <label>
                    <div>
                      <input type="checkbox" name="dinheiro_{{item}}" value="dinheiro_{{item}}" ngModel>
                      Dinheiro
                      <input type="number" name="valor_dinheiro_{{item}}" ngModel>
                    </div>
                  </label>
                  <label>
                    <div>
                      <input type="checkbox" name="pix_{{item}}" value="pix_{{item}}" ngModel>
                      Pix
                      <input type="number" name="valor_pix_{{item}}" ngModel>
                    </div>
                  </label>
                  <label>
                    <div>
                      <input type="checkbox" name="cartao_{{item}}" value="cartao_{{item}}" ngModel>
                      Cartão
                      <input type="number" name="valor_cartao_{{item}}" ngModel>
                    </div>
                  </label>
                  <label>
                    <div>
                      <input type="checkbox" name="cheque_{{item}}" value="cheque_{{item}}" ngModel>
                      Cheque
                      <input type="number" name="valor_cheque_{{item}}" ngModel>
                    </div>
                  </label>
                </div>
              </label>  
              <br>                                               
              <button (click)="removeSelectPassword(item)">x</button></li>
        </ul>
        <button type="submit">Enviar</button>
    </form>
    
    <div class="button-container">
        <button *ngFor="let i of options" class="button" (click)="selectPassword(i)">{{i}}</button>    
    </div>
</main>

<div class="modal" *ngIf="isOpen">
    <form class="modal-content" #f="ngForm" id="content" #content (submit)="submitForm(f)">
      <h2>Confirmar atribuição ?</h2>
      <div class="form-group">
        <label>Puxador: {{ info.puxador }}</label>
        <label>Cavalo: {{info.cavalo}}</label>
      </div>

      <div class="form-group">
        <label>Esteira: {{ info.esteira }}</label>
        <label>Cavalo: {{info.cavalo_esteira}}</label>
      </div>

      <div class="form-group">
        <label>Munícipio: {{ info.municipio }}</label>
        <label>Estado: {{info.estado}}</label>
      </div>

      <div class="form-group">
        <label>Bonificação: {{ info.bonificacao === "sim" ? 'Sim' : 'Sem bonificação' }}</label>
      </div>

      <div class="form-group">
        <label>Forma de pagamento:</label>
        <ul>
            <li *ngFor="let item of formPayment">
                {{item.forma}}: {{item.value}}
            </li>
        </ul>
      </div>

      <div class="form-group">
        <label>Senhas selecionadas:</label>
        <ul>
            <li *ngFor="let item of selectedPasswords">
                {{item}}
            </li>
        </ul>
      </div>


      <button class="close-button" (click)="closeModal()">Fechar</button>
      <button>Criar</button>
    </form>
</div>