.login-container {
  height: 100%;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  form {
    display: flex;
    flex-direction: column;
    flex-direction: column;
    gap: 20px;

    div {
      display: flex;
      flex-direction: column;
      gap: 5px;

      input {
        padding: 5px;
      }
    }

    button {
      background-color: #007bff;
      color: #fff;
      padding: 5px 10px;
      border: none;
      border-radius: 5px;
      cursor: pointer;

      &:hover {
        background-color: #0062cc;
      }
    }
  }
}
