.container {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-between;

  .form-column {
    width: 33%;

    form {
      input {
        width: 100%;
      }

      input[type="radio"],
      input[type="checkbox"] {
        width: min-content;
      }

      input[type="number"] {
        display: none;
      }

      input[type="checkbox"]:checked ~ input[type="number"] {
        display: inline-block;
      }

      div.radio-group {
        display: flex;
        flex-direction: column;
        gap: 5px;

        p {
          font-weight: bold;
        }
      }
    }
  }

  .pass-column {
    width: min-content;
    max-height: 400px;
    padding-right: 5px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;

    overflow-y: auto;

    button {
      border: none;
      padding: 5px;
      background-color: #ffc656;

      cursor: pointer;

      &.block {
        background-color: grey;
        cursor: default;
      }
    }
  }
}

.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;

  &-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    width: 700px;
    max-width: 700px;
    max-height: 80%;
    overflow-y: auto;
  }

  .form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;

    label {
      margin-bottom: 10px;
    }
  }

  .radio-group {
    display: flex;
    align-items: center;

    input[type="radio"] {
      margin-right: 10px;
    }

    label {
      margin-right: 20px;
    }
  }

  .close-button {
    margin: auto;
  }
}
