<main class="container">
  <div class="form-column">
    <form #f="ngForm" (ngSubmit)="openModal(f)">
      <div>
        <label for="puxador"> Puxador </label>
        <input type="text" name="puxador" required ngModel />
      </div>

      <div>
        <label for="cavalo"> Cavalo </label>
        <input type="text" name="cavalo" required ngModel />
      </div>

      <div>
        <label for="esteira"> Esteira </label>
        <input type="text" name="esteira" required ngModel />
      </div>

      <div>
        <label for="cavalo_esteira"> Cavalo Esteira </label>
        <input type="text" name="cavalo_esteira" required ngModel />
      </div>

      <div>
        <label for="representação"> Representação </label>
        <input type="text" name="representacao" required ngModel />
      </div>

      <div>
        <label for="municipio"> Município </label>
        <input type="text" name="municipio" required ngModel />
      </div>

      <div>
        <label for="estado"> Estado </label>
        <input type="text" name="estado" required ngModel />
      </div>

      <div class="radio-group">
        <p>Bonificação</p>

        <div>
          <div>
            <label>Sim</label>
            <input
              type="radio"
              name="bonificacao"
              value="sim"
              required
              ngModel
            />
          </div>

          <div>
            <label>Não</label>
            <input
              type="radio"
              name="bonificacao"
              value="nao"
              required
              ngModel
            />
          </div>
        </div>
      </div>

      <div class="form-fichas">
        <p>
          <span *ngIf="selectedPass">
            Ficha selecionada: {{ selectedPass.nome }}
          </span>

          <span *ngIf="!selectedPass">Nenhuma ficha selecionada</span>
        </p>

        <div *ngIf="selectedPass">
          <div>
            <label>Valor da senha: </label>
            <input [(ngModel)]="precoPadraoSenha" name="valorSenha" />
          </div>

          <div class="radio-group">
            <label for="boi_tv">Boi Tv:</label>

            <div class="opcao">
              <input type="radio" name="boi_tv" value="sim" required ngModel />
              Sim
            </div>

            <div class="opcao">
              <label>Não</label>
              <input type="radio" name="boi_tv" value="nao" required ngModel />
            </div>
          </div>

          <div>
            <p>Forma de pagamento</p>
            <div>
              <label for="dinheiro">Dinheiro</label>
              <input type="checkbox" name="dinheiro" value="dinheiro" ngModel />
              <input type="number" name="valor_dinheiro" ngModel />
            </div>

            <div>
              <label for="pix"> Pix </label>
              <input type="checkbox" name="pix" value="pix" ngModel />
              <input type="number" name="valor_pix" ngModel />
            </div>

            <div>
              <label for="cartao"> Cartão </label>

              <input type="checkbox" name="cartao" value="cartao" ngModel />
              <input type="number" name="valor_cartao" ngModel />
            </div>

            <div>
              <label> Cheque </label>
              <input type="checkbox" name="cheque" value="cheque" ngModel />
              <input type="number" name="valor_cheque" ngModel />
            </div>
          </div>
        </div>
      </div>

      <button type="submit">Enviar</button>
    </form>
  </div>

  <div class="pass-column">
    <button
      *ngFor="let i of options"
      [ngClass]="{ block: !i.disponivel }"
      class="button"
      (click)="selectPassword(i)"
    >
      {{ i.nome }}
    </button>
  </div>
</main>

<div class="modal" *ngIf="isOpen">
  <form
    class="modal-content"
    #f="ngForm"
    id="content"
    #content
    (submit)="submitForm(f)"
  >
    <h2>Confirmar atribuição ?</h2>
    <div class="form-group">
      <label>Puxador: {{ info.puxador }}</label>
      <label>Cavalo: {{ info.cavalo }}</label>
    </div>

    <div class="form-group">
      <label>Esteira: {{ info.esteira }}</label>
      <label>Cavalo: {{ info.cavalo_esteira }}</label>
    </div>

    <div class="form-group">
      <label>Munícipio: {{ info.municipio }}</label>
      <label>Estado: {{ info.estado }}</label>
    </div>

    <div class="form-group">
      <label
        >Bonificação:
        {{ info.bonificacao === "sim" ? "Sim" : "Sem bonificação" }}</label
      >
    </div>

    <div class="form-group">
      <label>Forma de pagamento:</label>
      <ul>
        <li *ngFor="let item of formPayment">
          {{ item.forma }}: {{ item.value }}
        </li>
      </ul>
    </div>

    <button class="close-button" (click)="closeModal()">Fechar</button>
    <button>Criar</button>
  </form>
</div>
